.footer {
  background: #191726;
  padding: 40px 0;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 20px;
}